.is-hidden#unsupported
  .unsupported-screen-content
    svg(xmlns="http://www.w3.org/2000/svg")
      use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo")
    h1= t.other.unsupported.sorry[lang]
    p
      div !{t.other.unsupported.update[lang]}
      div= t.other.unsupported.version[lang]
        span#unsupported-browser
